.header-container {
	font-size: 17px;
	margin-left: 90px;
	margin-right: 90px;
}
.super-header {
	position: relative;
}
.super-header img {
	height: auto;
	width: 100%;
}
.navbar {
	background-color: #7a1f00 ;
	margin-bottom: 0;
}
.navbar a {
	color: white;
	font-size: 15px;
}
.icon-bar {
	background-color: white;
}
.navbar a:hover {
	background-color: white;
	color: red;
	font-weight: bold;
}
.navbar a:focus {
	background-color: white;
	color: red;
	font-weight: bold;
}
.super-header a {
	color: white;
	font-size: 17px;
	padding: 5px;
}
.footer {
	background-color: #7a1f00;
	color: white;
	padding: 10px 40px !important;
}
.language{
	width: 30px;
	height: 20px;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.sign a {
	font-size: 13px !important;
	padding: 1px 3px !important;
	margin: 3px;
}
.sign {
	margin-right: 5px;
	top: 5px;
}
