.map-box {
    
}

.lat {
    display: none;
}

.lng {
    display: none;
}

.olat {
    display: none;
}

.olng {
    display: none;
}

.map {
    width:100%;
    height: 400px;
}

.map-box {
    position: relative;
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 30%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
}

.map-box-bottom {
    margin-bottom: 15px;
}

/*css for infowindow*/
.img-village {
    border-radius: 50%;
}

.ul-info {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#ebebe0;
}

.li-info {
    float: left;
}

.li-info .a-info {
    display: block;
    color: #003300;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.forline {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-weight: normal;
    font-size: 12px;
}

/*.gm-style-iw {
    width: 350px !important;
    top: 0px !important;
    left: 0px !important;
    
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border: 1px solid rgba(72, 181, 233, 0.6);
    border-radius: 2px 2px 10px 10px;
}*/

#iw-container {
    margin-bottom: 10px;
}

#iw-container .iw-title {
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #48b5e9;
    color: white;
    margin-bottom: 5px;
    border-radius: 2px 2px 0 0;
    text-align: center;
   
}

/*Search-box*/
#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    margin-top: 5px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

.er-map {
    color: red;
    margin-bottom: 10px;
}
      