.processes {
	margin: 10px 0 20px;
	height: auto;
	padding: 5px;
}
.process-image-edit {
	max-width: 700px !important;
}
.process-image {
	margin-top: 10px;
}
.processes .image {
	padding: 0;
}
.grey-background {
	background-color: lightgrey;
}
.hide-div {
	display: none;
}
.background {
	background-color: #4d4d4d;
	padding: 10px;
	max-height: 200px;
	min-height: 140px;
}
.info {
	margin-top: 10px;
}
.step {
	font-size: 50px;
	margin-right: 10px;
	color: #7a1f00;
}
.form {
	margin-bottom: 25px;
}
.background .white-text {
	line-height: 32px;
}
.processes img {
	margin-top: 2px;
	max-height: 180px;
	width: 100%;
}
.top-right {
	position: absolute;
	top: 5px;
	right: 10px;
}
.process-content {
	position: relative;
}
.process {
	border: 2px solid grey;
	box-shadow: 1px 1.5px 1px grey;
	border-radius: 5px;
	margin-bottom: 20px !important;
}
.process:hover {
	background-color: lightgrey;
}
.items ul{
	list-style: none;
	margin-top: 10px;
	padding-left: 0;
}
.items li {
	margin-bottom: 12px;
}