.tab-content {
    margin-top: 15px;
}

.modify-box {
    margin-left: 8px;
}

.container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.list {
    list-style-type: none;
}

.alert-success {
    padding: 4px !important;
}

.image-box {
    padding: 0;
}

.title-box {
    padding: 0 2px;  
}


.flash-hidden {
    display: none;
}

.product-infomation {
    font-size: 18px;
    margin: 20px;
}

.show_processes {
    margin-top: 5px;
}

.carousel {
    height: auto;
    width: 100%;
    position: relative;
}

.carousel .item img{
    width: 100%;
    height: auto !important;
    max-height: 450px;
}

table {
    width: 100%;
    line-height: 30px;
}

table td {
    padding-bottom: 10px !important;
}

.product-footer-box {
    margin-top: 15px;
}

.product-footer-box div{
    padding-left: 0;
    padding-right: 20px;
}

table th{
    width: 25% !important;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none !important;
    color: black;
}

.img-bar {
    width: 50px;
    height: 50px;
    padding: 0 !important;
}

a:hover {
    text-decoration: none;
}

.caption p {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.list-group .thumbnail, .list-group .thumbnail-editable  {
    position: relative;
}

.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.text {
    color: #0000cc;
}

.index-product-navbar {
    padding-bottom: 15px;
}

.sidebar-product {
    margin-bottom: 7px;
}

.product-footer {
    margin-top: 10px;
}

.no-padding-right {
    padding-right: 0 !important;
    padding-left: 0;
}

.list-group {
    padding-left: 10px;
    margin: 10px;
}

.product-name {
    color: #ff8000;
}

.thumbnail a img, .thumbnail-editable a img {
    width:100%;
    max-height: 225px;
}

.thumbnail-editable .caption {
    padding: 9px;
}

.thumbnail .caption {
    height: 110px;
}

.thumbnail-editable .caption {
    height: 145px;
    padding-top: 8px !important;
}

.search-form-sidebar {
    padding-right: 2px;
    margin-top: 13px;
}

.thumbnail {
    height: 335px;
    position: relative;
}

.thumbnail-editable {
    height: 375px;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
}

.categories {
    margin-top: 20px;
    max-height: 315px;
    overflow: hidden;
}

.link {
    float: right;
    margin-right: 5%;
}

.margin-top-bar, .bar {
    background-color: #f6f6ee;
    padding-top: 5px !important;
}

.margin-top-bar {
    margin-top: 50px;
}

/*filter*/
.filter-group {
    float: right;
    margin-right: 30px;
}

.filter-item {
    display: table-cell;
    margin-right: 5px;
    margin-left: 10px;
    padding: 5px !important;
    background-color: white;
    margin-top: 8px;
}

.filter-item span {
    margin-left: 6px;
}
/*end filter*/

.user-avatar {
    width: 50%;
    height: 50%;
}

.glyphicon-pencil {
    color: black;
    opacity: 0.5;
}

.glyphicon-remove {
    color: black;
    opacity: 0.5;
}

.center-div {
    margin: 0 auto;
    display: table;
}