/*body, custom-container {
	font-family: 'Roboto Slab', serif;
}*/
.pull-right {
	clear: both;
}
.user-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.darkgrey-text {
    font-size: 12px;
    color: darkgrey;
    font-style: initial;
}
.blue-text {
	color: #23527c;
}
.active {
	font-weight: bold;
	background-color: transparent;
}
.active-nav {
	font-weight: bold;
	background-color: #eb7f3c;
}
.medium-thumbnail {
	width: 100%;
	max-height: 300px;
}
.oneline {
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	-o-text-overflow: ellipsis;
  	width: 100%;
  	margin-bottom: 0;
}
.search-form {
	width: auto;
	margin-bottom: 0;
}
a h5:hover, a h3:hover, a:hover {
	text-decoration: none ;
	font-weight: bold;
}
a .orange-text:hover {
	color: blue;
}
.main-content {
	padding: 0;
	margin: 0;
	margin-top: 5px;
}
.custom-container {
	margin-right: 10% !important;
	margin-left: 10% !important; 
	margin-top: 0;
}
.white-btn {
	background-color: white;
	border-radius: 3px;
	border: 2px solid black;
	box-shadow: 0 3px 3px 0;
	color: black !important;
	padding: 3px;
}
.white-btn:hover {
	background-color: #eb7f3c;
}
.bottom-right {
	bottom: 5px;
	margin-right: 5px;
	position: absolute;
	right: 5px;
}
.row {
	margin: 0;
}
.orange-text {
	color: #eb7f3c;
}
.black-text {
	color: black;
}
.white-text {
	color: white;
}
.center {
	text-align: center;
}
.bottom {
	position: absolute;
	bottom: 0;
}
.ul {
	list-style: none;
	padding-left: 5px;
}